<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:include="dk :: header('部门管理')" />
		<link rel="stylesheet" type="text/css" th:href="@{/dk/css/public.css}" media="all">
		<style>
			.layui-form-item .layui-input-inline{
			    width : 200px;
			}
		</style>
	</head>
	<body>
		<div class="layui-dk-container">
			<fieldset class="table-search-fieldset">
				<legend>搜索信息</legend>
				<div style="margin: 10px 10px 10px 10px">
					<form class="layui-form layui-form-pane" action="">
						<div class="layui-form-item">

							<div class="layui-inline">
								<label class="layui-form-label">部门名称</label>
								<div class="layui-input-inline">
									<input placeholder="请输入部门名称" type="text" id="deptName" class="layui-input">
								</div>
							</div>
							<div class="layui-inline">
								<a class="layui-btn layui-btn-sm layui-btn-normal" data-role='部门查询' data-method="search"><i class="layui-icon layui-icon-search"></i>&nbsp;查询</a>
							</div>
							<div class="layui-inline">
								<a class="layui-btn layui-btn-sm layui-btn-normal" data-role='部门新增' data-method="newAdd"><i class="layui-icon layui-icon-add-1"></i>&nbsp;新增</a>
							</div>
						</div>
					</form>
				</div>
			</fieldset>

			<section>
				<table class="layui-hide" id="dk-dept-table" lay-filter="initTable"></table>
				<script type="text/html" id="toolBar">
					<a class="layui-btn layui-btn-sm tableBtn" data-role='部门编辑' lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
            		<a class="layui-btn layui-btn-danger layui-btn-sm tableBtn" data-role='部门删除' lay-event="del"><i class="layui-icon layui-icon-close"></i>删除</a>
        		</script>
			</section>
		</div>

		<th:block th:include="dk :: footer" />
		<script th:inline="javascript">
			layui.use(['jquery', 'dUtil', 'table', 'base64', 'myAjax', 'btnPermiss'], function() {
				let dUtil = layui.dUtil,
					$ = layui.jquery,
					layer = layui.layer,
					base64 = layui.base64,
					myAjax = layui.myAjax,
					table = layui.table,
					btnPermiss = layui.btnPermiss.setBtnPermiss('部门管理'),
					active = {
						newAdd: function() {
							dUtil.dLayer({
								title: '<h3>新增部门</h3>',
								type: 2,
								area: ['600px', '550px'],
								content: '/addDeptPage',
								success: function(layero, index) {},
								yes: function(index, layero) {
									let body = layer.getChildFrame('body', index),
										param = {
											deptName: body.find('input[name=deptName]').val(),
											pid: body.find('input[name=pid]').val(),
											orderNum: body.find('input[name=orderNum]').val(),
											leader: body.find('input[name=leader]').val(),
											phone: body.find('input[name=phone]').val(),
											email: body.find('input[name=email]').val(),
											status: body.find('input[name=status]').val(),
											type: 1,
										};
									active.addOrUpdate('/addOrUpdateDept', param, index);
								}
							});
						},
						initTable: function() {
							let config = {
								id: 'dk-dept-table',
								title: '部门表',
								url: '/listDept',
								dnToken: localStorage.getItem('token'),
								cols: [{
									type: 'checkbox'
								}, {
									field: 'deptName',
									title: '部门名称'
								}, {
									field: 'orderNum',
									title: '部门序号'
								}, {
									field: 'leader',
									title: '部门管理人'
								}, {
									field: 'phone',
									title: '部门管理人电话'
								}, {
									field: 'email',
									title: '部门管理人邮件'
								}, {
									field: 'status',
									title: '状态',
									templet: function(d) {
										return d.status == '0' ? '启用' : '禁用'
									}
								}, {
									fixed: 'right',
									title: '操作',
									align: 'center',
									toolbar: '#toolBar'
								}],
								tableId: 'deptId',
								param: {
									deptName: $('#deptName').val()
								},
								done: function() {
									$(".tableBtn").each(function() {
										let title = $(this).attr('data-role');
										if (!btnPermiss.includes(title)) {
											$(this).hide();
										}
									})
								},
							};
							return dUtil.initTable(config);
						},
						search: function() {
							//let t = active.initTable();
							table.reload('deptId', {
								where: {
									deptName: $('#deptName').val()
								},
								page: {
									curr: 1
								}
							});
						},
						addOrUpdate: function(url, param, index) {
							myAjax.ajax('post', url, param, function(res) {
								if (res.code === 0) {
									layer.msg('操作成功', {
										icon: 1,
										time: 500
									}, function() {
										layer.close(index);
										active.initTable();
									});
								} else {
									layer.msg(res.msg, {
										icon: 5,
										time: 2500
									});
								}
							})
						}
					};
				active.initTable();

				console.log('权限', btnPermiss)
				//权限控制
				$(".layui-dk-container .layui-btn-normal").each(function() {
					let title = $(this).attr('data-role');
					if (!btnPermiss.includes(title)) {
						$(this).hide();
					}

				})
				table.on('tool(initTable)', function(obj) {
					let e = obj.event;
					let data = {}
					for (let i in obj.data) {
						data[i] = encodeURIComponent(obj.data[i]);
					}
					if (e === 'edit') {
						let url = '/editDeptPage?' +
							'pid=' + data.pid +
							'&deptName=' + data.deptName +
							'&leader=' + data.leader +
							'&phone=' + data.phone +
							'&email=' + data.email +
							'&orderNum=' + data.orderNum +
							'&status=' + data.status;
						dUtil.dLayer({
							title: '<h3>修改部门</h3>',
							type: 2,
							area: ['640px', '520px'],
							content: url,
							success: function(layero, index) {},
							yes: function(index, layero) {
								let body = layer.getChildFrame('body', index);
								let div_status = $('input[name=status]', body).parent();
								let $input_status = $('.layui-form-radioed', div_status).prev('input');
								param = {
									deptName: body.find('input[name=deptName]').val(),
									pid: body.find('input[name=pid]').val(),
									orderNum: body.find('input[name=orderNum]').val(),
									leader: body.find('input[name=leader]').val(),
									phone: body.find('input[name=phone]').val(),
									email: body.find('input[name=email]').val(),
									status: $input_status.attr("value"),
									deptId: obj.data.deptId,
									type: 2
								};
								active.addOrUpdate('/addOrUpdateDept', param, index);
							}
						});
					} else if (e === 'del') {
						let param = {
							deptId: obj.data.deptId
						}
						layer.confirm("确定需要删除?", {
							icon: 3,
							title: '提示'
						}, function() {
							myAjax.ajax('post', '/delSysDept', param, function(res) {
								if (res.code === 0) {
									layer.msg('删除成功', {
										icon: 1,
										time: 500
									}, function() {
										active.initTable();
									});
								} else {
									layer.msg(res.msg, {
										icon: 5,
										time: 1500
									});
								}
							})
						})
					}
				})

				$('.layui-dk-container .layui-btn').on('click', function() {
					let t = $(this),
						method = t.data('method');
					active[method] ? active[method].call(this, t) : '';
				});
			});
		</script>
	</body>
</html>
