<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:include="dk :: header('角色管理')" />
		<link rel="stylesheet" type="text/css" th:href="@{/dk/css/public.css}" media="all">
		<style>
			.layui-form-item .layui-input-inline{
			    width : 200px;
			}
		</style>
	</head>
	<body>
		<div class="layui-dk-container">
			<fieldset class="table-search-fieldset">
				<legend>搜索信息</legend>
				<div style="margin: 10px 10px 10px 10px">
					<form class="layui-form layui-form-pane" action="">
						<div class="layui-form-item">

							<div class="layui-inline">
								<label class="layui-form-label">角色名称</label>
								<div class="layui-input-inline">
									<input placeholder="请输入角色名称" type="text" id="roleName" class="layui-input">
								</div>
							</div>
							<div class="layui-inline">
								<a class="layui-btn layui-btn-sm layui-btn-normal" data-role="角色查询" data-method="search"><i class="layui-icon layui-icon-search"></i>&nbsp;查询</a>
							</div>
							<div class="layui-inline">
								<a class="layui-btn layui-btn-sm layui-btn-normal" data-role="角色新增" data-method="newAdd"><i class="layui-icon layui-icon-add-1"></i>&nbsp;新增</a>
							</div>
						</div>
					</form>
				</div>
			</fieldset>

			<section>
				<table class="layui-hide" id="dk-role-table" lay-filter="initTable"></table>
				<script type="text/html" id="toolBar">
					<a class="layui-btn layui-btn-sm tableBtn" data-role="角色编辑" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
            		<a class="layui-btn layui-btn-danger layui-btn-sm tableBtn" data-role="角色删除" lay-event="del"><i class="layui-icon layui-icon-close"></i>删除</a>
        		</script>
			</section>
		</div>

		<th:block th:include="dk :: footer" />
		<script th:inline="javascript">
			layui.use(['jquery', 'dUtil', 'table', 'base64', 'myAjax', 'btnPermiss'], function() {
				let dUtil = layui.dUtil,
					$ = layui.jquery,
					layer = layui.layer,
					base64 = layui.base64,
					myAjax = layui.myAjax,
					table = layui.table,
					btnPermiss = layui.btnPermiss.setBtnPermiss('角色管理'),
					active = {
						newAdd: function() {
							dUtil.dLayer({
								title: '<h3>新增角色</h3>',
								type: 2,
								area: ['600px', '550px'],
								content: '/addRolePage',
								success: function(layero, index) {},
								yes: function(index, layero) {
									let body = layer.getChildFrame('body', index);
									let div_status = $('input[name=status]', body).parent();
									let $input_status = $('.layui-form-radioed', div_status).prev('input');
									let menuIds = body.find('input[name=menuList]').val();
									param = {
										roleName: body.find('input[name=roleName]').val(),
										roleKey: body.find('input[name=roleKey]').val(),
										menuIds: menuIds.split(','),
										status: $input_status.attr("value"),
										type: 1,
									};
									active.addOrUpdate('/addOrUpdateSysRole', param, index);
								}
							});
						},
						initTable: function() {
							let config = {
								id: 'dk-role-table',
								title: '角色',
								url: '/roleListPage',
								dnToken: localStorage.getItem('token'),
								cols: [{
									type: 'checkbox'
								}, {
									field: 'roleName',
									width: '25%',
									title: '角色名称'
								}, {
									field: 'roleKey',
									width: '25%',
									title: '角色代码'
								}, {
									field: 'status',
									width: '25%',
									title: '状态',
									templet: function(d) {
										return d.status == '0' ? '启用' : '禁用'
									}
								}, {
									fixed: 'right',
									title: '操作',
									align: 'center',
									width: '25%',
									toolbar: '#toolBar'
								}],
								tableId: 'roleId',
								param: {
									roleName: $('#roleName').val()
								},
								done: function() {
									$(".tableBtn").each(function() {
										let title = $(this).attr('data-role');
										if (!btnPermiss.includes(title)) {
											$(this).hide();
										}
									})
								},
							};
							return dUtil.initTable(config);
						},
						search: function() {
							//let t = active.initTable();
							table.reload('roleId', {
								where: {
									roleName: $('#roleName').val()
								},
								page: {
									curr: 1
								}
							});
						},
						addOrUpdate: function(url, param, index) {
							myAjax.ajax('post', url, param, function(res) {
								if (res.code === 0) {
									layer.msg('操作成功', {
										icon: 1,
										time: 500
									}, function() {
										layer.close(index);
										active.initTable();
									});
								} else {
									layer.msg(res.msg, {
										icon: 5,
										time: 2500
									});
								}
							})
						}
					};

				active.initTable();
				console.log('权限', btnPermiss)
				//权限控制
				$(".layui-dk-container .layui-btn-normal").each(function() {
					let title = $(this).attr('data-role');
					if (!btnPermiss.includes(title)) {
						$(this).hide();
					}

				})

				table.on('tool(initTable)', function(obj) {
					let e = obj.event;
					if (e === 'edit') {
						let url = '/editRolePage?' +
							'roleId=' + obj.data.roleId +
							'&roleName=' + obj.data.roleName +
							'&roleKey=' + obj.data.roleKey +
							'&roleSort=' + obj.data.roleSort +
							'&status=' + obj.data.status +
							'&delFlag=' + obj.data.delFlag;
						dUtil.dLayer({
							title: '<h3>修改角色</h3>',
							type: 2,
							area: ['640px', '520px'],
							content: url,
							success: function(layero, index) {},
							yes: function(index, layero) {
								let body = layer.getChildFrame('body', index);
								let div_status = $('input[name=status]', body).parent();
								let $input_status = $('.layui-form-radioed', div_status).prev('input');
								let menuIds = body.find('input[name=menuList]').val();
								param = {
									roleName: body.find('input[name=roleName]').val(),
									roleKey: body.find('input[name=roleKey]').val(),
									status: $input_status.attr("value"),
									menuIds: menuIds.split(','),
									roleId: obj.data.roleId,
									type: 2
								};
								active.addOrUpdate('/addOrUpdateSysRole', param, index);
							}
						});
					} else if (e === 'del') {
						let param = {
							roleId: obj.data.roleId
						}
						layer.confirm("确定需要删除?", {
							icon: 3,
							title: '提示'
						}, function() {
							myAjax.ajax('post', '/delSysRole', param, function(res) {
								if (res.code === 0) {
									layer.msg('删除成功', {
										icon: 1,
										time: 500
									}, function() {
										active.initTable();
									});
								} else {
									layer.msg(res.msg, {
										icon: 5,
										time: 1500
									});
								}
							})
						})
					}
				})

				$('.layui-dk-container .layui-btn').on('click', function() {
					let t = $(this),
						method = t.data('method');
					active[method] ? active[method].call(this, t) : '';
				});
			});
		</script>
	</body>
</html>
