server:
  port: 8080

spring:
  thymeleaf:
    prefix: classpath:/templates/
    cache: false
    mode: HTML
    encoding: UTF-8
    suffix: .html
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 200MB
  profiles:
    active: dev

mybatis-plus:
  mapper-locations: classpath:/mapper/*/*Mapper.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    jdbc-type-for-null: 'null'
    #关闭字段名的映射
    map-underscore-to-camel-case: false